!!!
%html{lang:"en-gb"}
  %head
    %meta{charset:"utf-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %meta{name:"google-site-verification", content:"2DQ01uUSCrnJiu_9vi7xriVgqtCE-Iz4SJJTC53-ih0"}
    %title= [current_page.data.title, data.site.name].compact.join(" - ")
    %meta{name:"description", content: current_page.data.description || data.site.description}
    =favicon_tag data.site.icon
    %link{rel:"apple-touch-icon-precomposed", href:data.site.image, type:"image/png"}

    %meta{property:"og:type",        content: "website"}
    %meta{property:"og:site_name",   content: [current_page.data.title, data.site.name].compact.join(" - ")}
    %meta{property:"og:image",       content: URI.join(data.site.url, (current_page.data.image || data.site.image))}
    %meta{property:"og:description", content: current_page.data.description || data.site.description}

    %meta{name:"twitter:card",        content: "summary"}
    %meta{name:"twitter:site",        content: "@unrulyco"}
    %meta{name:"twitter:title",       content: [current_page.data.title, data.site.name].compact.join(" - ")}
    %meta{name:"twitter:description", content: current_page.data.description || data.site.description}
    %meta{name:"twitter:image",       content: URI.join(data.site.url, (current_page.data.image || data.site.image))}

    %link{href:"/blog/feed.xml", type:"application/atom+xml", rel:"alternate", title:"Unruly Tech Blog Feed"}
    %link{href:"//video.cdn-unrulymedia-5.com/unruly.github.io/atom.xml", type:"application/atom+xml", rel:"alternate", title:"Unruly Tech Developer Blog Feed"}

    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    = stylesheet_link_tag "https://video.cdn-unrulymedia-5.com/ux-guidelines/latest/bootstrap/unruly-bootstrap.min.css?v=1"
    = stylesheet_link_tag "https://video.cdn-unrulymedia-5.com/ux-guidelines/latest/styles/unruly-styles.css?v=1"
    = stylesheet_link_tag "main"
    - if current_page.data.styles?
      - current_page.data.styles.each do |style|
        = stylesheet_link_tag style

%body{class:page_classes}

  = partial "layouts/header"

  = yield

  = partial "layouts/footer"

  = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"
  = javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/headroom/0.7.0/headroom.min.js"
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/headroom/0.7.0/jQuery.headroom.min.js"
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"
  = javascript_include_tag "main"

  - if current_page.data.scripts?
    - current_page.data.scripts.each do |script|
      = javascript_include_tag script

  = partial "layouts/tracking"
