---
pageable: true
---

<div class="container">
    <div class="page-header">
        <h2>Updates for
            <% case page_type when 'day' %>
                <%= Date.new(year, month, day).strftime('%b %e %Y') %>
            <% when 'month' %>
                <%= Date.new(year, month, 1).strftime('%b %Y') %>
            <% when 'year' %>
                <%= year %>
            <% else %>
                <span class="label label-info"><%= tagname %></span>
            <% end %>
        </h2>
    </div>

    <% if paginate && num_pages > 1 %>
        <p>Page <%= page_number %> of <%= num_pages %></p>

        <% if prev_page %>
            <p><%= link_to 'Previous page', prev_page %></p>
        <% end %>
    <% end %>

    <div class="list-group">
        <% page_articles.each_with_index do |article, i| %>
            <% link_to article, :class => 'list-group-item' do %>
                <h4>
                    <%= article.title %>
                </h4>
                <p class="text-muted">
                    Posted on <%= article.date.strftime('%b %e %Y') %>
                </p>
            <% end %>
        <% end %>
    </div>

    <% if paginate %>
        <% if next_page %>
            <p><%= link_to 'Next page', next_page %></p>
        <% end %>
    <% end %>
</div>