---
title: About
description:
  Unruly is a leading ad-tech company based in the heart of London’s Tech City. We are strong believers in
  eXtreme Programming and we believe that our Modern XP practices are leading the way in the London XP community.
---

.jumbotron
  .container
    .jumbotron-details
      %h1 About Us
      %p= data.about.description
  .jumbotron-background{ style:"background-image: url('./images/standup.jpg')" }

.container
  - data.about.teams.each do |team|
    %section.team-description.article-text{ class:[team.id]}
      .row
        %h3.team-header= team.name
      .row
        .col-sm-8
          %p= team.description
          %small Main Technologies
          %p
            - team.tech.each do |tech|
              .label.label-default= tech
        .col-sm-4
          %img.tech-cloud.img-responsive{ src: "./images/clouds/#{team.id}-cloud.png" }

