---
scripts:
  - index
---

.jumbotron
  .container
    .jumbotron-details
      %h1 Welcome!
      %p Have a look around and find out more about Unruly's development team and technology.
      =link_to './about.html', :class => 'btn btn-primary btn-lg link', :role => 'button' do
        %span About Us
  .jumbotron-background{ style:"background-image: url('./images/mob-1.jpg')" }

.container
  .page-header
    %h2
      %span Latest Posts
      =link_to 'blog/feed.xml', :class => 'pull-right', :title=>"Latest Blog Posts Feed" do
        %span.fa.fa-fw.fa-rss-square
  .row
    .col-md-8
      .posts
        - blog.articles[0...10].each do |article|
          %article.post
            %h3.post-title
              =link_to article.url do
                = article.title
            .post-meta.text-muted
              %time= article.date.strftime('%B %d, %Y')
              - if article.data.author
                • By #{article.data.author}
            .post-content
              =find_and_preserve do
                =article.summary
        %p.text-muted.text-center.hidden-sm.hidden-xs
          No more posts to list
    .col-md-4
      .tag-list
        - blog.tags.each do |tag, articles|
          =link_to tag, "./blog/tags/#{tag}.html", :class => 'label label-info'
      %hr
      - data.index.highlights.each do |highlight|
        =link_to highlight.link, :class => 'panel-image-link' do
          .panel.panel-default.panel-image
            .panel-body{ style:"background-image: url('#{highlight.image}')" }
            .panel-heading
              %h4= highlight.title
              %p= highlight.description


