---
scripts:
  - index
---

.jumbotron
  .container
    .jumbotron-details
      %h1 Welcome!
      %p Have a look around and find out more about Unruly's development team and technology.
      %p
        =link_to './about.html', :class => 'btn btn-primary btn-lg link', :role => 'button' do
          %span About Us
  .jumbotron-background{ style:"background-image: url('./images/mob-1.jpg')" }

.container
  .page-header
    %h2
      %span Current Happenings
      %span.fa.fa-fw.fa-bullhorn.pull-right
  - data.index.highlights.each_slice(3) do |highlights_group|
    .row
      - highlights_group.each do |highlight|
        .col-md-4
          =link_to highlight.link, :class => 'panel-image-link' do
            .panel.panel-default.panel-image
              .panel-body{ style:"background-image: url('#{highlight.image}')" }
              .panel-heading
                %h4= highlight.title
                %p= highlight.description
  .page-header
    %h2
      %span Latest Updates
      =link_to 'updates/feed.xml', :class => 'pull-right', :title=>"Latest Updates Feed" do
        %span.fa.fa-fw.fa-rss-square
  .row
    .col-md-8
      .posts
        - blog.articles[0...10].each do |article|
          %article.post
            %h3.post-title
              =link_to article.url do
                = article.title
            .post-meta.text-muted
              %time= article.date.strftime('%d %B %Y')
            .post-content.article-text
              =article.summary
        %p.text-muted.text-center
          No more updates to list
    .col-md-4
      %br
      %p
        Want to know what our developers are up to? Check out their <a href="./posts.html">developer blogs</a>.
      %hr
      %h4 Tags
      .tag-list
        - blog.tags.each do |tag, articles|
          =link_to "./updates/tags/#{tag}.html", :class => 'label label-info' do
            %span= tag

